/* === 註冊頁專屬樣式 === */
  .role-selection {      /*選擇身分*/
    display: flex;
    justify-content: flex;
    gap: 10px;
    margin: 10px 0;
    }
    
    .role-selection label {      /*選項按鈕*/
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
    gap: 5px;
    font-size: 16px;
    }
  